:root {
    font-family: Helvetica, Arial;
}


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #ffffff;
    background-image: url(images/planets-website.webp);
}

.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url(images/galaxy-website.jpeg);
    background-size: cover;
    width: 100%;
    color: rgb(253, 253, 253);
    display: flex;
    flex-wrap: wrap;
  /* justify-content: center; */
  align-items: center;
  justify-content: space-evenly;
}


.header div {
    padding-top: 15px;
    margin-right: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;

}

.header img {
    padding-top: 15px;
    border-radius: 50%;
    width: 150px;
    height: 150px;
}

.header div ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    color: rgb(255, 255, 255);
}

.header div ul li {
    margin-left: 25px;
    font-size: 25px;
    color: rgb(255, 255, 255);
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.section .div .special .specialSection img {
    width: 100%;
    height: 50px;
}

#Skills  {
    color: black;
    padding-top: 10px;
    margin-left: 50%;
    margin-right: 50%;
    list-style-type: square;
    /* display: block; */
    background-color: aliceblue;
}

.div .Skillful {
    background-color: aliceblue;

}


#About-Me {
    line-height: 1.2;
    text-indent: 50px;
    text-align: center;
    margin-top: 10px;
    background-color: aliceblue;
    opacity: 3;
    margin-left: 100px;
    margin-right: 100px
}

.mapOf {
    text-align: center;
    color: aliceblue;
}

.map {
display: block;
margin-left: auto;
margin-right: auto;
width: 50%;
height: auto;
}

.Programs {
    background-color: aliceblue;
    margin: 100px;
}

.software {
    display: flex;
    flex-wrap: wrap;
}

.software img {
    width: 200px;
    height: 200px;
}

#Projects {
    margin: 200px 100px 75px;
    background-color: aliceblue;
    color: black;
    text-align: left;
    line-height: 50px;
}

#Projects a {
    color: rgb(255, 0, 0);
}

#Contact {
    background-color: aliceblue;
    margin-top: 100 px;
    text-align: center;
    display: flex;
    justify-content: end;
    justify-content: space-around;
}