.heading {
    adding for no reason
}


nav {
    display: inline-block;
    display: right;
    background-color: grey;
    width: 100%;

}


.links li {
    display: inline;
    float: right;
    list-style: none;
    



    
}